ipeo_hurricane_for_students.zip

# Environnements virtuels Python
ipeo_venv/
venv/
.env/
.venv/
venc_scitas/

# Fichiers Python inutiles
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Archives
*.zip
# Scripts SCITAS (environnement local)
setup_scitas.sh
run_on_scitas.slurm
scitas_venv/
logs/